{% extends 'pages/base.jinja' %}

{% block title %}
    Flask, Demo!
{% endblock %}

{% block content %}
    <h1>Hello!!!</h1>

    <section id="hero">
        <h1>Flask</h1>
    </section>
{% endblock %}
