{% extends 'pages/base.jinja' %}

{% block title %}
    Test, Page!
{% endblock %}

{% block content %}
    <h1>Test Page</h1>

    <section>
        <h2>Testing...</h2>
    </section>
{% endblock %}
